extends layout

include mixins/form

block styles
  mixin markitupStylesheets()
  mixin wideareaStylesheets()

block content
  h2 #{title}

  mixin errors()
  #content

    form(action='/pages', method='post', class='edit')

      input(type="hidden", name="pageName", value="#{coalesce(pageName, '')}")

      div
        label Page title
        input(type='text', name='pageTitle', value="#{coalesce(formData.pageTitle, pageTitle)}")#pageTitle

      div
        textarea(name="content", data-widearea="enable", rows=25)#editor #{coalesce(formData.content, '')}

      mixin saveAndCancel()

  #preview.modal.hide
    mixin dialogBox("Page preview")

  #syntax-reference.modal.hide.fade
    mixin dialogBox("Markdown cheatsheet")

block scripts
  mixin wideareaJavaScripts()
  mixin markitupJavaScripts()
