extends layout

include mixins/form

block styles
  +featuresStylesheets()

block tools
  +tools('edit', page.wikiname)

block content

  #js--content.edit
    +errors()
    +warning()
    h1 Edit page

    form(action=page.urlForEditPut(), method='post', class='edit')

      .form-group
        input.form-control(rquired, type='text', placeholder='Enter the page title', name='pageTitle', value=coalesce(formData.pageTitle, ''))#js--pageTitle
        input(type="hidden", name="_method", value="put")

      .form-group
        textarea.form-control(name="content", rows=25)#js--editor #{coalesce(formData.content, '')}

      .form-group
        input.form-control(type='text', name='message', placeholder='Write a small message here explaining this change (optional)')#message.span8

      +saveAndCancel()

  #js--preview(tabindex="-1",role="dialog",aria-hidden="true").modal
    +dialogBox("Page preview")

  #js--syntax-reference(tabindex="-1",role="dialog",aria-hidden="true").modal
    +dialogBox("Markdown cheatsheet")

block scripts
  +featuresJavaScripts()
