extends layout

include mixins/form

block styles
  mixin featuresStylesheets()

block tools
  mixin tools('edit', page.wikiname)

block content

  #content.edit
    mixin errors()
    mixin warning()
    h1 Edit page

    form(action='#{page.urlForEditPut()}', method='post', class='edit')

      .form-group
        input.form-control(rquired, type='text', placeholder='Enter the page title', name='pageTitle', value="#{coalesce(formData.pageTitle, '')}")#pageTitle
        input(type="hidden", name="_method", value="put")

      .form-group
        textarea.form-control(name="content", data-widearea="enable", rows=25)#editor #{coalesce(formData.content, '')}

      .form-group
        input.form-control(type='text', name='message', placeholder='Write a small message here explaining this change (optional)')#message.span8

      mixin saveAndCancel()

  #preview(tabindex="-1",role="dialog",aria-hidden="true").modal
    mixin dialogBox("Page preview")

  #syntax-reference(tabindex="-1",role="dialog",aria-hidden="true").modal
    mixin dialogBox("Markdown cheatsheet")

block scripts
  mixin featuresJavaScripts()
