extends layout

include mixins/form
include mixins/links

block content

  #content

    h2 Choose your authentication method

    if (auth.google.enabled)
      p
        +anchor('/auth/google', 'Google login').btn-auth.btn-auth-google

    if (auth.github.enabled)
      p
        +anchor('/auth/github', 'Github login').btn-auth.btn-auth-github

    if (auth.google.enabled || auth.github.enabled)
      p
        +anchor("/", 'Cancel')

    if (auth.ldap.enabled)

      p
        h4 Authenticate ldap

      mixin errors()

      form.form-horizontal(action='#{proxyPath}/auth/ldap', method='post')

        .form-group
          label.col-sm-2.control-label Username
          .col-sm-3
            input.form-control(type='text', autofocus, name='username')

        .form-group
          label.col-sm-2.control-label Password
          .col-sm-3
            input.form-control(type='password', name='password')

        .form-group
          .col-sm-offset-2.col-sm-3
            button.btn-primary.btn(type="submit") Login
            |&nbsp;or&nbsp;
            +anchor("/", 'Cancel')

    if (auth.alone.enabled || auth.local.enabled)

      p
        h4 Authenticate locally

      mixin errors()

      form.form-horizontal(action='#{proxyPath}/login', method='post')

        .form-group
          label.col-sm-2.control-label Username
          .col-sm-3
            input.form-control(type='text', autofocus, name='username')

        .form-group
          label.col-sm-2.control-label Password
          .col-sm-3
            input.form-control(type='password', name='password')

        .form-group
          .col-sm-offset-2.col-sm-3
            button.btn-primary.btn(type="submit") Login
            |&nbsp;or&nbsp;
            +anchor("/", 'Cancel')
