extends layout

include mixins/form

block content

  #content

    h2 Choose your authentication method

    if (auth.google.enabled)
      p
        a.btn-auth.btn-auth-google(href="/auth/google") Google login

    if (auth.github.enabled)
      p
        a.btn-auth.btn-auth-github(href="/auth/github") Github login

    if (auth.google.enabled || auth.github.enabled)
      p
        a(href="/") Cancel

    if (auth.alone.enabled)

      p
        h4 Authenticate locally

      mixin errors()

      form.form-horizontal(action='/login', method='post')

        .form-group
          label.col-sm-2.control-label Username
          .col-sm-3
            input.form-control(type='text', autofocus, name='username')

        .form-group
          label.col-sm-2.control-label Password
          .col-sm-3
            input.form-control(type='password', name='password')

        .form-group
          .col-sm-offset-2.col-sm-3
            button.btn-primary.btn(type="submit") Login
            |&nbsp;or&nbsp;
            a(href="/") cancel
