extends layout

include mixins/form

block content

  h2 Choose your authentication method

  #content

    if (auth.google.enabled)
      p
        b Authenticate via 
        a.btn.btn-primary(href="/auth/google") Google login
      hr

    if (auth.alone.enabled)

      p
        b Authenticate locally

      mixin errors()

      form(action='/login', method='post')

        div
          label Username
          input(type='text', name='username')}")

        div
          label Password
          input(type='password', name='password')}")

        mixin saveAndCancel('Login')

      hr
