<div class="cheatsheet-content">
  <div class="mod">
    <div class="col">
      <h3>Format Text</h3>
      <p>Headers</p>
      <pre># This is an &lt;h1&gt; tag
## This is an &lt;h2&gt; tag
###### This is an &lt;h6&gt; tag</pre>
      <p>Text styles</p>
      <pre>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__
*You **can** combine them*</pre>
    </div>
    <div class="col">
      <h3>Lists</h3>
      <p>Unordered</p>
      <pre>* Item 1
* Item 2
* Item 2a
* Item 2b</pre>
      <p>Ordered</p>
      <pre>1. Item 1
2. Item 2
3. Item 3
  * Item 3a
  * Item 3b</pre>
    </div>
    <div class="col">
      <h3>Miscellaneous</h3>
      <p>Images</p>
      <pre>![GitHub Logo](/images/logo.png)
Format: ![Alt Text](url)</pre>
      <p>Links</p>
      <pre>|http://github.com - automatic!
[GitHub](http://github.com)</pre>
      <p>Blockquotes</p>
      <pre>As Kanye West said:
&gt; We're living the future so
&gt; the present is our past.</pre>
    </div>
  </div>
  <hr/>
  <h3>Code Examples in Markdown</h3>
  <div class="col">
    <p>Syntax highlighting with <a href="http://github.github.com/github-flavored-markdown/" title="GitHub Flavored Markdown" target="_blank">GFM</a></p></p>
    <pre>```javascript
function fancyAlert(arg) {
 if(arg) {
   $.facebox({div:'#foo'})
 }
}
```</pre>
  </div>
  <div class="col">
    <p>Or, indent your code 4 spaces</p>
    <pre>Here is a Python code example
without syntax highlighting:
def foo:
if not bar:
 return true</pre>
  </div>
  <div class="col">
    <p>Inline code for comments</p>
    <pre>I think you should use an
`&lt;addr&gt;` element here instead.</pre>
  </div>
</div>
