extends layout

block content

  #content
    .jumbotron
      h1 Welcome to the wiki
      p This page doesn't (yet) exist. You should first <a href="/login">login</a> and then you'll be redirected to the editor so that you can create the front page.
      p <a class="btn btn-primary btn-large" href="/login">Login</a> and start adding content!
