extends layout

block content

  h2 Welcome to the wiki
  p 
    | This is a page 
    b placeholder 
    | for the home page.
  p You should first 
    a(href="/login") login 
    | and then you'll be redirected to the editor so that you can create the front page.
  p The 
    b Jingo authors
