@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('/fonts/UbuntuCondensed-Regular.ttf') format('truetype');
}